{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["Android >= 4.0", "iOS >= 8"]
        },
        "modules": false,
        "loose": true
      }
    ]
  ]
}
